@font-face {
  font-family: 'Intel';
  src: local('Intel'), url(../font/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url(../font/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-medium'), url(../font/Roboto-Medium.ttf) format('truetype');
}
